.project-links {
  margin-top: 1rem;
}

.project-links a {
  color: #b84eff;
  background-color: #2a2a2a;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 0 8px rgba(184, 78, 255, 0.3);
  transition: background 0.3s;
}

.project-links a:hover {
  background-color: #3a3a3a;
}
